<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drawbot</title>
    <link rel="stylesheet" href="node_modules/bulma/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
      p {
        margin-top: 2em;
      }

      input[type=range] {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand"><a class="navbar-item"><img src="logo.png" width="150" height="15"></a></div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item is-active">Design</a>
            <a class="navbar-item">Control</a>
          </div>
          <div class="navbar-end"><a class="navbar-item has-background-success">
            Status:&nbsp;<strong>Ready</strong>
          </a></div>
        </div>
      </div>
      <section id="design" class="columns section">
        <div class="column is-4">
          <canvas id="working-image" width="400" height="400" class="has-background-grey-lighter"></canvas>
        </div>
        <div class="column is-4">
          <div class="file is-boxed is-medium" id="source" v-if="clean"><label class="file-label">
            <input class="file-input" type="file" id="file-input" v-on:change="fileChanged()">
            <span class="file-cta">
              <span class="file-icon"><i class="fas fa-upload"></i></span>
              <span class="file-label">Choose a file...</span>
            </span>
          </label></div>
          <div v-if="loading">
            <a class="button is-loading is-primary">Loading...</a>
          </div>
          <div v-if="ready">
            <p>Cutoff: <input step="1" min="0" :max="maxCutoff" v-model="cutoff" type="range"></p>
            <p>Clip: <input step="1" min="0" max="20" v-model="clip" type="range"></p>
            <p><a class="button" v-on:click="rotate()"><i class="fas fa-sync-alt"></i>&nbsp;Rotate Image</a></p>
            <p><a class="button is-dark" v-on:click="startOver()"><i class="fas fa-step-backward"></i>&nbsp;Start Over</a></p>
          </div>
      </section>
    </div>

    <script src="point.js"></script>
    <script src="scribble.js"></script>
    <script src="main.js"></script>
  </body>
</html>
